@model IEnumerable<MoneyBlog.Models.Account>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div id="verticalNavigation" class="col-3">
        <div class="card shadow">
            <div class="card-header">
                Actions
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>Action 1</li>
                    <li>Action 2</li>
                    <li>Action 3</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="mainContent" class="col-9">
        <div class="card shadow">
            <div class="card-header">
                Accounts
            </div>
            <div class="card-body">
                @foreach (MoneyBlog.Models.Account account in Model)
                {
                <a asp-controller="Accounttransaction" asp-action="Dashboard" asp-route-accountId="@account.AccountId">
                    <div>
                        <span style="float:right;"> $@account.Balance </span>
                        <span class="font-weight-bold"> @account.AccountName <br /> <small> @account.AccountType </small></span>
                        <hr />
                    </div>
                </a>
                }
            </div>
        </div>
    </div>
</div>


